# Dependencies
node_modules/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Environment files
.env
.env.local
.env.*.local
!.env.example

# Build outputs
build/
ios/build/
android/build/
android/.gradle/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Testing
coverage/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Sentry
.sentryclirc
